*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(85,106,119,1) 50%, rgba(8,11,57,1) 90%);
}

#invertedcursor {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
    pointer-events: none;
  }

@font-face {
    font-family: Heading-Pro-Wide-Thin-trial;
    src:url(Heading-Pro-Wide-Thin-trial.ttf);
}

@font-face {
    font-family: Boldstrom;
    src:url(Boldstrom.otf);
}

@font-face {
    font-family: Love;
    src:url(Love.ttf);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%; /*padding: 0 24px;*/
    position: sticky;
    top: 0;
    
}

.navbar{
    flex: 1;
    text-align: right;

}

.logo{
    text-decoration: none;
    color: white;
    font-family: Love;
    padding: 8px 8px;
}

.home{
    color: rgb(140, 129, 129);
}

.gallery{
    color: rgb(140, 129, 129);
}

.about{
    color: rgb(140, 129, 129);
}

.booking{
    color: rgb(140, 129, 129);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    font-family: Boldstrom;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    
}

.navbar ul li a:hover{
    color: rgb(70, 94, 103);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/*==========================================================================================
One Side Page Vertical Scroll
==========================================================================================*/
.flexbox{
    display: flex;
}

/*Left*/
.left-panel {
    position: sticky; /* Set the element to become sticky  */
    height: 88vh;
    width: 50%;
    top: 0; /* Set the sticky position top */
/*    background: rgb(1, 88, 61);
    background: linear-gradient(90deg, rgb(1, 54, 134) 10%, rgb(21, 109, 164) 50%, rgba(8,11,57,1) 90%);
*/    
  }
  
.mainImage{
    text-align: center;
    padding-top: 15%;
}
  
.left-panel img{
    height: 600px;
}


/* Right*/
.right-panel {
    height: 100rem;
    width: 50%;
    /*
    background: rgb(101, 122, 115);
    background: linear-gradient(90deg, rgb(142, 165, 199) 10%, rgb(46, 127, 177) 50%, rgb(81, 87, 177) 90%);
    */
}

.upperPanel{
    /*    height: 100rem; */    
    width: 100%;
    padding-top: 35%;

}

.upperPanel p{
    margin: 0.02%;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgb(138, 168, 199);
}

.upperOne{
    font-size:large;
    margin-bottom: -1rem;
    text-align: center;
    font-weight: bold;
}

.lowerPanel{
    /*    height: 100rem; */
    width: 50%;
}


/*==========================================================================================*/
main p{
    font-size: 30px;
    padding: 20% 30%;
    color: white;
    font-family: Heading-Pro-Wide-Thin-trial;
    text-align: center;
}

.images{
    display: grid;
    grid-gap: 200px;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    grid-auto-flow: 200px;
    grid-auto-rows: dense;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

img{
    max-width: 60%;
    height: auto;

    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  
/*

    vertical-align: middle;

    text-align: center;

    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
*/
}

button{
    margin: 60px 0 70px 0;
    background: #013c6f;
    padding: 15px 40px;
    border-radius: 5px;

}

button a{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
    float: left;
}

/*

@media only screen and (max-width: 769px)

*/
@media(max-width: 769px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    li{
        margin: 16px 0;
    }

    li.active{
        left: 0;
    }
}

footer{
    color: white;
    text-align: center;
    padding: 3%;
}